---
layout: default
title: Gallery
---
<!-- <div class="section"> -->
  <h1 class="title is-5 has-text-centered">La Terre et La Mer</h1>

  <div class='section has-text-justified'>
  The new collection of artworks inspired by a very beatiful summer 2020. 
  This time of the year was really special as we could only travel in between the two lockdowns.
  The sanitary restrictions were always in place, so, for the first time, 
  we didn't use trains but opted to travel by car. 
  In total we covered more than 4000 km in France and visited every coast of this amazing country.
  How much more did I see and feel during the roadtrip.
  Emotions were overwhelming and I had to express them in this brand-new collection of artworks. 
  <br><br>
  Shortly after I started working on these artworks, the country has been locked down again. 
  Luckily the second lockdown was less strict than the first one and 
  I could purchase all the matherials I needed with click and collect system deployed by artshops. 
  Overall I'm super happy by the results and
  I hope you'll be able to feel the emotions I put onto the canvas.
  </div>
  
  <div class="grid">

    {% for item in site.data.paintings %}
      <div>
        <a href="{{item.title | datapage_url: 'paintings'}}">
          <img src="{{item.image | relative_url}}" alt="{{ item.title }}" width=100%> <br>
        </a>
        <h2 class="title is-6">{{ item.title | capitalize}}
          {% if item.label=="sold" %}<span class="tag is-danger is-light">{{item.label}}</span> {% endif %}
          {% if item.label contains "exposition" %}<span class="tag is-warning is-light">{{item.label}}</span> {% endif %}
          {% if item.label == "new" %}<span class="tag is-success is-light">{{item.label}}</span> {% endif %}
        </h2>
        {{ item.material | capitalize }} on {{item.support}} <br> {{item.size}} <br>
        Paris, {{item.year}} <bf> 
      </div>
    
    {% endfor %}
  </div>
<!-- </div> -->