<footer class="footer">
  <div class="columns">
    <div class="column">
      <div class="content">ABOUT</div>
      <a class="is-black" href="{{'/catalog.html' | relative_url}}">Catalog</a>
    </div>
    <div class="column">
      <div class="content">CONTACT</div> 
      <p >+33 7 50 31 04 25</p> 
      <p > <a href="mailto:info@aristova.fr"><i class="fas fa-inbox "></i> info@aristova.fr </a></p> 
      <p><a is-black href="https://www.instagram.com/katiaaristoff"><i class="fab fa-instagram fa-lg"></i> katiaaristoff</a></p>
      <p><a href="https://www.facebook.com/katia.aristoff"><i class="fab fa-facebook fa-lg"></i> katia.aristoff</a></p>
      <p><a href="https://youtube.com/channel/UCveQqEnKsZdaVrqF17uGvNA"><i class="fab fa-youtube fa-lg"></i> Kate Aristova</a></p>
    </div>
    <div class="column">
      <div class="content">ADDRESS</div>
      <p >Art-room: </p> 
      <p>29 Bd. Exelmans</p>
      <p>Paris 16eme</p>
      <p>75016 FRANCE</p> 
    </div>
  </div>
  <div class="content has-text-centered">
    © Ekaterina Aristova 2020
  </div>
</footer>