<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/images/apple-touch-icon.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/images/favicon-32x32.png' | relative_url}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/images/favicon-16x16.png' | relative_url}}">
    <link rel="manifest" href="{{'/assets/images/site.webmanifest' | relative_url}}">
    <link rel="shortcut icon" href="{{'/assets/images/favicon.ico' | relative_url}}">
    <link rel="stylesheet" href="{{'/assets/css/styles.css' | relative_url}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>
  <body>
    <div class="container is-desktop is-justify-content-center">
      {% include navigation.html %}
      <div class="section">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>