---
layout: default
---
<div class="container">
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
          <li><a href="/index.html">Home</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{page.title | capitalize}}</a></li>
        </ul>
    </nav>
    <div class="section">
        <h1 class="title is-5">{{page.title| capitalize}}</h1>
        <p class="content">{{ page.date | date_to_string }} - {{ page.author }}</p>


        {{ content }}

    </div>
</div>